.maps-list {
    white-space: nowrap;
}

.maps-list>li {
    position: relative;
    opacity: 0;
    width: 350px;
    margin-left: -350px;
    margin-right: -4px;
    padding-bottom: 15px;
    vertical-align: top;
    white-space: normal;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.maps-list>li.active,
.maps-list>li:first-child {
    display: inline-block;
    margin-left: 0;
    opacity: 1;
}

.maps-list>li:first-child {
    z-index: 16 !important;
}

.maps-item {
    padding: 0 30px 0;
    margin-top: 15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.maps-item .box-ct {
    padding: 0 0 12px 14px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}

.box-ct .box-ct-con {
    position: relative;
    height: 70px;
    padding: 14px 82px 0 0;
}

.box-ct .box-ct-con .area-charts {
    width: 82px;
    height: 82px;
}

.box-ct .box-ct-con .area-charts .charts-total {
    margin: -18px 0 0 -18px;
    width: 36px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
}

.box-ct .box-ct-con h3 {
    height: 48px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #212121;
}

.box-ct .box-ct-foot {
    padding-right: 5px;
    height: 24px;
}

.box-ct .box-ct-foot .txt-all {
    font-size: 14px;
}

.maps-item .box-cb {
    display: none;
    padding: 4px 14px 0;
}

.maps-item .box-cb p {
    position: relative;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
}

.maps-item .box-cb p:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: #cbcbcb;
}

.maps-item.active {
    position: relative;
    z-index: 3;
    padding-bottom: 15px;
    padding-right: 50px;
    margin-right: -20px;
}

.maps-list>li.active,
.maps-list .maps-item.active,
.maps-list .maps-item.active .box-ct,
.maps-list .maps-item.active .charts-total,
.maps-list>li.active:nth-child(8n + 1) .active {
    background-color: #e7f4eb;
}

.maps-list>li .maps-item.notchild,
.maps-list>li:last-child .maps-item.active {
    padding-right: 30px;
    margin-right: 0;
}

.maps-list>li.active {
    box-shadow: 0 0 30px #ebecf0 inset;
}

.maps-list>li.active .maps-item {
    padding-left: 0;
    margin-left: 30px;
}

.maps-list>li.active:nth-child(2n) .active .box-ct {
    border-color: #fff7e8 #fff7e8 #e0e0e0 #fff7e8;
}

.maps-list>li.active:nth-child(2n + 1) .active .box-ct,
.maps-list .maps-item.active .box-ct {
    border-color: #eaf6ff #eaf6ff #e0e0e0 #eaf6ff;
    border-bottom-style: dashed;
}

@-webkit-keyframes scaleForEver {
    0% {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        opacity: 0.1;
    }
    70% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.06;
    }
    100% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes scaleForEver {
    0% {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        opacity: 0.1;
    }
    70% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.06;
    }
    100% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

@-webkit-keyframes scaleForEver2 {
    0% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 0.4;
    }
    70% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 0.2;
    }
    100% {
        transform: scale(1.6);
        -webkit-transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes scaleForEver2 {
    0% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 0.4;
    }
    70% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 0.2;
    }
    100% {
        transform: scale(1.6);
        -webkit-transform: scale(1.6);
        opacity: 0;
    }
}

@-webkit-keyframes scaleForEver3 {
    0% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 0.4;
    }
    50% {
        transform: scale(2.2);
        -webkit-transform: scale(2.2);
        opacity: 0.2;
    }
    100% {
        transform: scale(3.8);
        -webkit-transform: scale(3.8);
        opacity: 0;
    }
}

@keyframes scaleForEver3 {
    0% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        opacity: 0.4;
    }
    50% {
        transform: scale(2.2);
        -webkit-transform: scale(2.2);
        opacity: 0.2;
    }
    100% {
        transform: scale(3.8);
        -webkit-transform: scale(3.8);
        opacity: 0;
    }
}

.box-ct-foot .txt-all.uir .iconfont {
    cursor: pointer;
}

.crumbs-bar .icon-tree:before {
    content: "\e67a";
}

.crumbs-bar .icon-look:before {
    content: "\e784";
}

.maps-layered {
    text-align: center;
    margin: 30px 30px 0 30px;
    margin: 30px 0 0 0;
}

.maps-layered .maps-fc-list {
    position: relative;
    display: inline-block;
    width: 300px;
    text-align: left;
    margin-top: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.maps-layered ul {
    padding-top: 20px;
}

.maps-layered li {
    padding-top: 30px;
}

.maps-layered .fc-view {
    padding: 0 0 12px 14px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.maps-layered .fc-view-con {
    position: relative;
    min-height: 36px;
    padding: 14px 0 3px 0;
}

.maps-layered .fc-view-con .area-charts {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 60px;
    height: 60px;
}

.maps-layered .fc-view-con .area-charts .charts-total {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #212121;
    background-color: #fff;
    border-radius: 50%;
}

.maps-layered .fc-view-foot {
    padding-left: 45px;
    height: 24px;
}

.maps-layered .fc-view-foot .txt-all {
    padding: 2px 20px 2px 0;
    font-size: 14px;
    cursor: pointer;
}

.maps-layered .fc-view-cb {
    margin-top: 8px;
    padding: 8px 0 0 0;
    border-top: 1px dashed #e0e0e0;
}

.maps-layered .fc-view-cb p {
    position: relative;
    padding-left: 18px;
    padding-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
    margin-top: 0;
    margin-bottom: 0;
}

.maps-layered .fc-view-cb p:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: #cbcbcb;
}

.maps-layered .fc-view-tip {
    float: left;
    display: inline-block;
    border-radius: 50%;
    background-color: #edf2ff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #4c84ff;
    font-size: 12px;
}

.maps-layered .fc-view-text {
    padding-left: 45px;
}

.maps-layered .fc-view-con .title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #212121;
    display: inline-block;
    vertical-align: top;
    width: 72%;
}

.maps-layered .fc-view-con .title p {
    display: table-cell;
    width: 177px;
    height: 36px;
    vertical-align: middle;
}

.maps-layered .icon-arrowmore:before {
    content: "\eb0b";
}

.maps-layered .fc-view-foot .txt-all .icon-arrowmore {
    position: absolute;
    top: 4px;
    right: 0px;
    left: auto;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-weight: normal;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.maps-fc-list.active .txt-all .icon-arrowmore {
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.maps-layered .yellow-tip.fc-view-tip {
    background-color: #fff7ed;
    color: #fdb44d;
}

.maps-layered .blue-tip.fc-view-tip {
    background-color: #edf2ff;
    color: #4c84ff;
}

.maps-layered .red-tip.fc-view-tip {
    background-color: #fef2f2;
    color: #f57d7e;
}

.maps-layered .child-node-num {
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -12px;
    background-color: rgb(76, 132, 255);
    min-width: 18px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    padding: 0 3px;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
    z-index: 1;
}

.maps-layered ul,
.maps-layered li {
    position: relative;
}

.maps-item {
    position: relative;
    cursor: pointer;
}

.maps-item.active .icon-retract {
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    right: 38px;
    top: -7px;
}

.maps-item.active .icon-retract {
    color: #4c84ff;
}

.maps-item.active .icon-retract:before {
    content: "\e649";
}

.maps-list>li+li {
    position: absolute;
    height: 0;
    padding-bottom: 0;
}

.maps-list>li.active {
    position: relative;
    height: auto;
    padding-bottom: 15px;
}

.maps-list>li .txt-all {
    font-weight: normal;
}

.maps-list>li .txt-all {
    color: #fdb44d;
    font-weight: normal;
}

.maps-list>li:first-child .txt-all {
    color: #30a8fc;
    font-weight: normal;
}

.maps-list>li:last-child .txt-all {
    color: #f57d7e;
    font-weight: normal;
}

.maps-list>li:nth-child(8n + 2),
.maps-list>li.active:nth-child(8n + 1) .maps-item.active,
.maps-list>li.active:nth-child(8n + 1) .maps-item.active .box-ct,
.maps-list>li.active:nth-child(8n + 1) .maps-item.active .charts-total {
    background-color: #e7f4eb;
}

.maps-list>li.active:nth-child(8n + 3),
.maps-list>li.active:nth-child(8n + 2) .maps-item.active,
.maps-list>li.active:nth-child(8n + 2) .maps-item.active .box-ct,
.maps-list>li.active:nth-child(8n + 2) .maps-item.active .charts-total {
    background-color: #fff7e8;
}

.maps-list>li.active:nth-child(8n + 4),
.maps-list>li.active:nth-child(8n + 3) .maps-item.active,
.maps-list>li.active:nth-child(8n + 3) .maps-item.active .box-ct,
.maps-list>li.active:nth-child(8n + 3) .maps-item.active .charts-total {
    background-color: #eaf6ff;
}

.maps-list>li.active:nth-child(8n + 5),
.maps-list>li.active:nth-child(8n + 4) .maps-item.active,
.maps-list>li.active:nth-child(8n + 4) .maps-item.active .box-ct,
.maps-list>li.active:nth-child(8n + 4) .maps-item.active .charts-total {
    background-color: #ffeade;
}

.maps-list>li.active:nth-child(8n + 6),
.maps-list>li.active:nth-child(8n + 5) .maps-item.active,
.maps-list>li.active:nth-child(8n + 5) .maps-item.active .box-ct,
.maps-list>li.active:nth-child(8n + 5) .maps-item.active .charts-total {
    background-color: #ebecfd;
}

.maps-list>li.active:nth-child(8n + 7),
.maps-list>li.active:nth-child(8n + 6) .maps-item.active,
.maps-list>li.active:nth-child(8n + 6) .maps-item.active .box-ct,
.maps-list>li.active:nth-child(8n + 6) .maps-item.active .charts-total {
    background-color: #fff7e8;
}

.maps-list>li.active:nth-child(8n + 8),
.maps-list>li.active:nth-child(8n + 7) .maps-item.active,
.maps-list>li.active:nth-child(8n + 7) .maps-item.active .box-ct,
.maps-list>li.active:nth-child(8n + 7) .maps-item.active .charts-total {
    background-color: #ffedee;
}

.maps-list>li.active:last-child .maps-item.active,
.maps-list>li.active:last-child .maps-item.active .box-ct,
.maps-list>li.active:last-child .maps-item.active .charts-total {
    background-color: #fff;
}


/*========= okr地图 - end ==========*/